
h1 {<textarea</textarea>}
p {font-size: 18px}
#first {color: red}
#second {color: blue}
#third {color: green}
#Big {font-size: 35px}
#Tiny {font-size: 12px}
#center {text-aling: center; 
	    width: 50%;
	    margin: auto
}
#mystyle {font-weight: bold;}
Font-size {font-size 34px}
#multi-line {font-size: 40
        font-weight: bold;
    	color: orange;
    }
.styledFont {color: green}